@media only screen and (max-width: 992px) {
  .container {
    font-size: .8em;
    width: 100%;
  }

  .exercise--line code {
  	padding: 0 0 0 13%;
  }
}

@media only screen and (max-width: 564px) {
  .card,
  .basket {
    width: 90%;
  }

  .cart_rendered {
    width: 90%;
  }

  .card--img {
  	width: auto;
  	height: 56%;
  	position: absolute;
  	right: 1em;
  	top: .5em;
  }

  .modal--img {
    height: 50%;
  }
}
