body, html {
  height: 100%;
}

body {
  margin: 0;
  font: normal 16px Arial, sans-serif;
}

.container {
	width: 100%;
	min-height: 100vh;
  box-sizing: border-box;
}

.container-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1vw;
  padding: 1vw;
}

.container__lesson {
  padding: 8vh 0 0 0;
  background: #3D9C8F;
}

.container--link {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #28d0b9;
  color: #fb3044;
	font-size: 2em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	box-sizing: border-box;
}

.container--link[href="#"] {
	background: #81e8d9;
  cursor: not-allowed;
}

.container--link:hover,
.lesson-link:hover {
	color: #a3101e;
}

.container--link:active,
.lesson-link:active {
	color: #a67010;
}

.lesson-title {
  text-align: center;
}

.lesson-link {
  text-decoration: none;
  font-size: 2em;
  color: #000;
}
